<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	
	<bean id="helloWorld" class="spring.HelloWorld" init-method="init"
		destroy-method="destroy"></bean>
	<!-- default singletoon dır -->
	<bean id="springClass" class="spring.SpringClass"
		scope="prototype"></bean>
	<!-- singleton scope ta çağırmasak bile bir nesne ayağa kalkar lazy init 
		ile engellenir -->
	<bean id="springClass2" class="spring.SpringClass2"
		scope="singleton" lazy-init="true"></bean>
	<!-- Constructor Args - Dependency Injection -->
	<bean id="springConstructorArgs" class="spring.ConstructorArgs"
		scope="prototype">
		<constructor-arg index="0" value="Vektörel"></constructor-arg>
		<constructor-arg index="1" value="Bilişim"></constructor-arg>
		<property name="adress" value="Ankara"></property>
	</bean>

	<!-- <bean id="muzisyen" class="spring.Muzisyen"> <constructor-arg ref="davul"></constructor-arg> 
		<property name="darbuka" ref="darbuka"></property> </bean> -->

	 <!--<bean id="muzisyen" class="spring.Muzisyen" autowire="constructor"></bean>-->
	<!--<bean id="muzisyen" class="spring.Muzisyen" autowire="byName"></bean>-->
	<!--<bean id="muzisyen" class="spring.Muzisyen" autowire="byType"></bean>-->
	<bean id="muzisyen" class="spring.Muzisyen"></bean>

	<bean id="davul" class="spring.Davul"></bean>
	<bean id="darbuka" class="spring.Darbuka"></bean>
	<bean id="baglama" class="spring.Baglama"></bean>
</beans>